@function hex-to-rgb($hex) {
  $hex: str-slice($hex, 2);

  $has-alpha: str-length($hex) == 8;

  $red: str-slice($hex, 1, 2);
  $green: str-slice($hex, 3, 4);
  $blue: str-slice($hex, 5, 6);
  $alpha: if($has-alpha, str-slice($hex, 7, 8), null);

  $red: hex-to-decimal($red);
  $green: hex-to-decimal($green);
  $blue: hex-to-decimal($blue);
  $alpha: if($has-alpha, hex-to-decimal($alpha) / 255, null);

  @if $has-alpha {
    @return rgba($red, $green, $blue, $alpha);
  } @else {
    @return rgb($red, $green, $blue);
  }
}

@function hex-to-decimal($hex) {
  @return if(str-length($hex) == 2, 
             str-index("0123456789ABCDEF", str-slice($hex, 1, 1)) * 16 + 
             str-index("0123456789ABCDEF", str-slice($hex, 2, 2)), 
             null);
}